@keyframes spin-slow {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  .animate-spin-slow {
    animation: spin-slow 10s linear infinite;
  }
  @keyframes float {
    0%, 100% { transform: translateY(0); }
    50% { transform: translateY(-10px); }
  }
  .animate-float {
    animation: float 3s ease-in-out infinite;
  }

  @keyframes fadeIn {
    0% {
      color: #b0b0b0; /* Başlangıç rengi: Gri */
    }
    50% {
      color: #ffcc00; /* Orta renk: Sarı */
    }
    100% {
      color: black; /* Sonraki renk: Siyah */
    }
  }
  
  @keyframes fadeInMove {
    0% {
      color: #b0b0b0; /* Başlangıç rengi: Gri */
      transform: translateY(0); /* Normal konum */
    }
    50% {
      color: #ffcc00; /* Orta renk: Sarı */
      transform: translateY(-5px); /* Yukarı hareket */
    }
    100% {
      color: black; /* Sonraki renk: Siyah */
      transform: translateY(0); /* İlk konumuna geri döner */
    }
  }

  